<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="myget" value="https://www.myget.org/F/private-nuget/auth/2700aebd-bb6a-4225-ba61-d53d5f807b72/api/v3/index.json" />
  </packageSources>
</configuration>